.divContainer {
  padding: 0 1rem;
}
header.headerAdmin {
  margin: 0.6rem 1rem;
  height: 3rem;
  border-bottom: 1px solid #d5d5d5;
}

/* header.headerAdmin h1 {
  font-size: 2.9rem;
} */

span.orange {
  color: #f99d22;
  /* font-size: 2.9rem; */
}

span.violet {
  color: #7a5ea8;
  /* font-size: 2.9rem; */
}

.divContainer .navAdmin {
  width: 4rem;
  height: 25rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px 1px 3px #cacaca;
}
.containerAdmin {
  display: flex;
  min-height: 85vh;
}
.containerAdmin .containerNav {
  display: flex;
  align-items: center;
  height: 49rem;
}

.loading {
  min-height: 32rem;
    width: 10rem;
    background-image: url(https://i.postimg.cc/qRv8Dwtt/preloader3.gif);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
}

.containerAdmin .containerMessages {
  height: 80vh;
  width: 86%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerAdmin .containerMessages .headerMessages {
  padding: 1rem;
}

.containerAdmin .containerMessages .tableMessages{
  width: 90%;
}

/* .containerAdmin .containerMessages .tableMessages tbody tr{
  margin-top: .5rem;
} */

.containerAdmin .containerMessages .tableMessages tbody tr td{
  text-align: center;
  padding: .5rem 0;
}

.containerAdmin .containerMessages .tableMessages tbody tr td.deleteMessage,
.containerAdmin .containerMessages .tableMessages tbody tr td.viewTextMessage{
  cursor: pointer;
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage {
  z-index: 1;
  position: absolute;
  width: 60vw;
  height: 40vh;
  top: 10vh;
  left: 20vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage .closeModalText {
  width: 2rem !important;
  height: 2rem !important;
  cursor: pointer;
  /* align-self: flex-end; */
  /* margin: 0.5rem 0; */
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage p.textBody {
  flex-grow: 1;
  margin-top: 1rem;
}
