.divContainer {
  padding: 0 1rem;
}

header.headerAdmin {
  margin: 0.6rem 1rem;
  height: 3rem;
  border-bottom: 1px solid #d5d5d5;
}

header.headerAdmin h1 {
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
}

.divContainer .navAdmin {
  width: 4rem;
  height: 25rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px 1px 3px #cacaca;
}

.containerAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
}

.containerAdmin .containerNav {
  display: flex;
  align-items: center;
  height: 41rem;
}

.containerAdmin .containerSections > * {
  border: 1px solid #dfdfdf;
  min-height: 40.8rem;
  width: 30%;
}

.containerAdmin .sectionBrandCategory {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

.sectionBrandCategory > * {
  border: 1px solid #bfbfbf;
}

.containerAdmin .sectionBrandCategory,
.containerAdmin .containerSections {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  min-height: 80vh;
  /* align-items: center; */
  color: white;
}

.containerAdmin .sectionBrandCategory .containerCategory {
  border: 1px solid #f1f1f1f7;
  height: 16rem !important;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  color: #ffffff;
}

.loading {
  min-height: 32rem;
  width: 10rem;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-image: url(https://i.postimg.cc/TwZG2QWc/loading.gif);
}

.containerAdmin .sectionBrandCategory .containerCategory .category {
  border: 0.8px solid #bfbfbf82;
  height: 5rem;
  display: flex;
  width: 94%;
  justify-content: space-between;
  padding: 0.6rem 0.5rem;
  align-items: center;
}

.containerForm {
  padding: 1rem;
  width: 96%;
}

.containerForm div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerForm div:nth-child(2) {
  padding: 1rem;
}

.navAdmin .icon,
.containerCategory .icon {
  height: 2rem;
  width: 2rem;
  background-position: center;
  background-size: 1.8rem;
  border-radius: 0.2rem;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0.5rem;
}
.containerCategory h1 {
  margin: 1rem;
  font-size: 1rem;
}
.icon {
  background-color: transparent;
}

.addNew .icon,
.search .icon,
.lastAdded .icon {
  height: 1.8rem;
  width: 1.8rem;
  background-position: center;
  background-size: 98%;
  border-radius: 2rem;
  margin: 0 0.4rem;
}

.navAdmin a {
  color: #545454;
  width: 11rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.navAdmin a span {
  left: 2.5rem;
  position: absolute;
  padding: 1rem 3rem;
  opacity: 0;
  width: 0rem;
  color: black;
  font-weight: bold;
}

.navAdmin a span:hover {
  opacity: 1;
}

.containerSections .addNew > *,
.containerSections .search > *,
.containerSections .lastAdded > * {
  display: flex;
  min-height: 3rem;
  align-items: center;
  width: 98%;
  padding: 0.2rem 0.5rem;
}

.containerSections .formNew {
  display: flex;
  flex-direction: column;
}

.containerSections .formNew input,
.search input,
.containerInputs input {
  width: 17rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #dfdfdf;
}

.search input {
  width: 15rem;
}

.formNew .containerFiles {
  height: 7rem;
  width: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="file"] {
  height: 5rem;
  outline: none;
  border: none;
  width: 5rem !important;
  opacity: 0;
}

div .photos {
  border-radius: 0.8rem;
  height: 6rem;
  background-color: #dfdfdf;
  width: 6rem;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  background-size: 26%;
  background-position: 84% 14%;
  background-repeat: no-repeat;
  cursor: pointer;
}

div .file {
  height: 6rem;
  background-color: #dfdfdf;
  width: 6rem;
  background-position: center;
  background-size: contain;
  opacity: 0.9;
  border-radius: 1rem;
  background-size: 37%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.containerAllInputs,
.containerSections .lastAdded {
  display: flex;
  flex-direction: column;
}
.containerSections .addNew {
  overflow-x: hidden;
  height: 21rem;
}
label {
  text-align: start;
  width: 6rem !important;
}

.formNew .containerInputs,
.containerInputs {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.search .containerInputs > *,
.containerInputs > * {
  margin: 0 0.2rem;
}

.formNew .containerInputs > *,
.containerInputs > * {
  padding-right: 0.8rem;
  font-size: 0.8rem;
}

.formNew select {
  border: none;
  border-radius: 1rem;
  border: none;
  width: 18rem;
  outline: none;
  height: 2rem;
  background-color: #dfdfdf;
}

.formNew select option {
  border-bottom-left-radius: 1rem !important;
}

.formNew textarea,
.containerInputs textarea,
.adminCategory textarea {
  resize: none !important;
  border: none;
  outline: none;
  width: 15rem;
  height: 2rem;
  background-color: #dfdfdf;
  padding: 0 2rem;
  border-radius: 1rem;
}
.containerProducts p {
  font-size: 1rem;
  margin-top: 2rem;
}
.boxProduct {
  border: 1px solid #e9e9e9;
  margin: 1rem 0;
  height: 10rem;
  width: 22.2rem;
  padding: 0 1rem;
  margin-right: 0.8rem;
}

.containerProducts,
.containerCategory {
  overflow-y: auto;
  height: 34rem;
}

.containerProducts::-webkit-scrollbar {
  width: 5px;
  max-height: 50% !important;
}

.containerProducts::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 5px !important;
}

.titleProduct {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  align-items: center;
  height: 72%;
}
.titleProduct h3 {
  font-size: 0.9rem;
  width: 10rem;
}
.titleProduct .cointanerEdit,
.cointanerEdit {
  display: flex;
}

.containerButton {
  justify-content: flex-end;
}

.containerInputs button,
.containerButton button {
  padding: 0.6rem !important;
  background-color: #dbdbdb;
  padding: 0.5rem;
  border: none;
  border-radius: 1.2rem;
  width: 6.5rem;
  text-align: center;
  cursor: pointer;
}

.containerInputs button:hover,
.containerButton button:hover {
  background-color: #bbbbbb;
}

.boxProduct .containerInfo {
  display: flex;
  padding: 1rem 0;
}

.boxProduct .containerInfo p {
  background-color: #f99d22;
  padding: 0.5rem;
  border-radius: 1.2rem;
  margin-right: 0.5rem;
  width: 6.5rem;
  text-align: center;
}

.boxProduct .containerInfo div:first-child p {
  background-color: #9e9e9e;
}

.imageProduct {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
}

.containerAdmin .containerMessages {
  min-height: 60vh;
  width: 92%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  border: 1px solid;
}

.containerAdmin .containerMessages .headerMessages {
  padding: 2rem;
}

.containerAdmin .containerMessages .tableMessages {
  width: 90%;
}

.containerAdmin .containerMessages .tableMessages tbody tr td {
  text-align: center;
  padding: 0.5rem 0;
}

.containerAdmin .containerMessages .tableMessages tbody tr td.deleteMessage,
.containerAdmin .containerMessages .tableMessages tbody tr td.viewTextMessage {
  cursor: pointer;
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage {
  z-index: 1;
  position: absolute;
  width: 40vw;
  min-height: 30vh;
  top: 29vh;
  left: 30vw;
  padding: 1rem;
  background-color: rgb(48 106 154);
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 0px 100vw 55vw #26262673;
}

.containerAdmin .containerMessages .tableBodyMessages .modalTextMessage div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerAdmin
  .containerMessages
  .tableBodyMessages
  .modalTextMessage
  .closeModalText {
  width: 2rem !important;
  height: 2rem !important;
  cursor: pointer;
}

.containerAdmin
  .containerMessages
  .tableBodyMessages
  .modalTextMessage
  p.textBody {
  flex-grow: 1;
  margin-top: 1rem;
}

.modal {
  min-height: 10rem;
  width: 26rem;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 23rem;
  background-color: rgb(48 106 154);
  box-shadow: 12px 0px 100vw 55vw #26262673;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(49px);
  color: #fdfdfd;
  justify-content: start;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

button.confirmButton,
button.cancelButton {
  border: none;
  padding: 0.5rem;
  background-color:white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button.cancelButton, button.confirmButton:hover  {
  background-color: transparent;
  border: 1px solid white;
  color: rgb(255, 255, 255);
}
button.cancelButton:hover {
  background-color:white;
  color: rgb(0, 0, 0);
}

div.buttonsModal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal h3 {
  margin: 1rem 0;
}
.sectionTotal {
  border: 1px solid #ffffff69;
  height: 35rem;
  overflow-x: hidden;
  color: white;
  width: 88.5rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid;
}
.sectionTotal .container {
      /* border: 1px solid; */
      display: flex;
      flex-direction: column;
      align-items: center;
}
.sectionTotal .container h1 {
  text-align: center;
  margin: 1rem 0;
}
.sectionTotal .containerProduct {
  border: 1px solid;
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70rem;
}
.sectionTotal .containerProduct h2, .sectionTotal .containerProduct h3{
  margin: 1rem 0;
}
.sectionTotal .containerProduct h2 {
  margin-top: 3rem;
}