section.sectione{
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.form{
    width: 70%;
    height: 70%;
    background-color: #E3E5E6;
    border-radius: 1rem;
    padding: 1rem 2rem;
    
}
div.form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
   
}
input.input {
    outline:none;
    width: 50%;
    background-color:transparent;
    margin: 1.5rem 0rem ;
    border-width: 0 0 4px 0;
    border-image: linear-gradient(to right, rgba(248,4,156,1), rgba(253,213,79,1)) 1;
}
div.boxInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%

}

div.inputPassContainer{
    display: flex;
    width: 50%;
    border-bottom:4px solid;
    border-image:linear-gradient(to right, rgba(248,4,156,1), rgba(253,213,79,1)) 1
}

input.inputTypes{
    outline:none;
    border: none;
    background-color:transparent;
    margin: 0.9rem 0rem ;
    padding:1rem 0;
    flex:1;
}



img.imgForPass {
    height: 0.6rem;
    cursor: pointer;
    background: transparent;
    align-self: center;
}