.loading {
    min-height: 100%;
    width: 80%;
    /* border: 1px solid; */
    background-image: url(https://i.postimg.cc/qRv8Dwtt/preloader3.gif);
    background-size: 9% 30%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: .5;
}
div.containerConfirm {
        height: 25rem;
        width: 68rem;
        background-image: url(https://i.postimg.cc/mkLNMpGq/descarga-jpg-removebg-preview.png);
        background-size: 78%;
        /* background-position: center; */
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        align-items: center;
        filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));

}
h1.headerConfirmed{
    font-size: 2.1rem;
    margin-bottom: 8rem;
}