div.containerContact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.containerContact>* {
    width: 40rem;
    height: 25rem;
}

form.formContact {
    width: 40rem;
    height: 25rem;
    background: #e5e5e521;
    padding: 1rem 2rem;
    max-width: calc(100vw - 40px);
    margin: 2rem;
}

form.formContact p.headerContact {
    font-size: 1.3rem;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    color: #545454;
    background-color: #e3e3e3;
}

form.formContact input,
form.formContact textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
    margin-top: 2rem;
}

form.formContact textarea {
    height: 25%;
}

form.formContact textarea::-webkit-scrollbar-track {
    background: #E3E5E6;
}

form.formContact ::placeholder {
    font-size: 1.1rem;
    color: #e3e3e3;
}

form.formContact .eachInput .errorPlaceholder{
    height: 1.1rem;
    width: 100%;

}

form.formContact .eachInput .error{
    display: block;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: .2rem;
    background-color: white;
    color: red;
    text-align: center;}

form.formContact button {
    float: right;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0 0;
    border: 2px solid #e3e3e3;
    background: 0;
    color: #e3e3e3;
    cursor: pointer;
    transition: all 0.3s;
}

form.formContact button:hover {
    background: #78788c;
    color: #fff;
}

div.imageContact {
    background-position: center;
    background-size: cover;
    filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    div.imageContact {
        display: none
    }

    p.subtitleContact {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    div.imageContact {
        background-size: contain;
        background-repeat: no-repeat;
    }

    p.subtitleContact {
        font-size: 1.7rem;
    }
}