div.divContainerExito,
form.formContainerExito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form.formContainerExito {
    background-color: #e5e5e521;
    padding: 1rem;
}

div.divContainerCuenta,
div.divContForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 2rem;
}

div.divContainerCuenta {
    gap: 1.5rem;
}

div.divContainerCuenta span {
    color: #FC914F;
}

input.inputCiudad {
    margin-left: 1.7rem !important;
}

input.inputDni {
    margin-left: 2.7rem !important;
}

form.formContainerExito input {
    width: 20rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e3e3e3;
    outline: none;
}

input::placeholder {
    color: #e3e3e3 !important;
}

div.divContainerCuenta h2 {
    font-size: 2rem;
    color: #e3e3e3;
}

div.divExito {
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;

}

div.divExitoImg {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30rem;
    height: 30rem;
    margin-right: 5rem;
    filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}

button.buttonEnviar {
    border: none;
    padding: 1rem 2rem;
    background-color: #e3e3e3;
    color: #545454;
    font-size: 1.2rem;
    cursor: pointer;
}

form.formContainerExito p {
    color: #464646;
}

.formContainerExito .field .error {
    display: block;
    padding: .2rem;
    background-color: red;
    color: white;
    border-radius: 1rem;
    text-align: center;
}

.formContainerExito .field .errorPlaceholder {
    height: .9rem;
}

@media screen and (max-width: 768px) {
    div.divContForm {
        width: 80%;
    }

    form.formContainerExito input {
        width: 15rem;
    }

    form.formContainerExito div.field {
        margin-top: 1rem;
    }

    div.divContainerCuenta {
        gap: .5rem
    }

    div.divContainerCuenta h2 {
        font-size: 2rem;
    }

    div.divExito {
        width: 7rem;
        height: 5rem;
    }

    input.inputDni,
    input.inputCiudad {
        margin-left: 0.5rem !important;
    }

    div.divExitoImg {
        display: none;
    }
}