footer.footerContainer {
    background-color: #7A5EA8;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #F1F6F7;
    padding: 0 2rem;
}

div.divContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.redes img {
    width: 2.5rem;
}