@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&family=Spartan:wght@400;500&display=swap');

* {
    font-family: 'Spartan', sans-serif;
}

.containerHome {
    background: rgb(47, 144, 176);
    background: radial-gradient(circle, rgba(47, 144, 176, 1) 0%, rgba(48, 106, 154, 1) 55%, rgba(49, 75, 136, 1) 73%, rgba(49, 25, 109, 1) 100%);
    min-height: 95vh;
    padding: 1rem 3rem;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;

}

.navIntermedio {
    width: 70rem;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 1rem 1rem;

}

.containerHero {
    height: 41rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e3e3e3;
}

.containerHero h1 {
    font-size: 10rem;
}

.containerHero .photoPrincipal {
    height: 33rem;
    width: 35rem;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.containerHero .details {
    width: 17rem;
    position: absolute;
    left: 20rem;
    bottom: 7rem;
    /* background-color: #00000061; */
    border-radius: .5rem;
    padding: 1rem;
}

nav a:hover {
    border-bottom: 1px solid grey;
    border-width: 1;
}