div.containerGeneral{
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100%;
    z-index: 300;
    overflow: scroll;
    text-align: left;
    background: rgb(47,144,176);
    background: radial-gradient(circle, rgba(47,144,176,1) 0%, rgba(48,106,154,1) 55%, rgba(49,75,136,1) 96%);
    box-shadow: -300px 0px 200vw 200vw #444343d1;
    padding: 0 1rem;
    color: white;
}
div.containerCart{
    padding-left: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 17rem;
}
div .iconClose{
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    margin: 1rem 0;
    color: #d7d7d7b0;
}

div .iconClose:hover {
    color: #fdfdfdc4;
}


div.containerCart h2{
    text-align: center;
    padding: .4rem 0;
}

.loading {
    height: 95%;
    width: 100%;
    padding: 1rem;
    background-image: url(https://i.postimg.cc/TwZG2QWc/loading.gif);
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
}
div.photo{
    width: 12rem;
    height: 9rem;
    background-size: cover;
    background-repeat: no-repeat;
}
div.containerSubTitle,div.containerTotal{
    width: 92%;
    border-top: 1px solid rgb(196, 192, 192);
    border-bottom: 1px solid  rgb(196, 192, 192);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
div.containerProductTotal{
    min-width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 0.3rem;
    background-color: rgba(163, 189, 189, 0.171);
}
img.imgProduct{
    width: 5rem;
}
div.containerProduct{
    display: flex;
    align-items: center;
    gap:0.5rem;
    
}
div.containerProductTetx{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

div.icon{
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.counter{
    padding: 0.5rem;
    display: flex;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    align-items: center;
    width: 6rem;
    justify-content: space-around;
}

div.price{
    border: 1px solid white;
    color: #ffffff;
    text-align: center;
    padding: 0.6rem;
    font-size: 0.9rem;
    width: 95%;
    cursor: pointer;
}
div.price:hover {
    background-color: rgb(255 255 255);
    color: #242424;
}
img.iconDelete{
    width: 2.4rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}
div.containerSubTotal{
    display: flex;
    align-items: center;
    width: 6rem;
    justify-content: space-around;
}
div.containerSubTotalCart{
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
}
div.containerDisconts{
    margin-top: 2rem;
    width: 92%;
    border-top: 1px solid rgb(196, 192, 192);
    border-bottom: 1px solid rgb(196, 192, 192);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
}
div.containerShip{
    margin-top: 2rem;
}
div.containerTotal{
    margin-top: 2rem;
    color: rgb(255 255 255);
}