div.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 25%;
    left: 34%;
    display: block;
}

div.paymentContainer {
    background-color: #EFEAEA;
    width: 25rem;
    height: 25rem;
    box-shadow: 12px 0px 100vw 55vw #444343d1;
    border-radius: 15px;
}



img.icono {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    align-self: flex-start;
}