header.headerContainer {
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
}

.navIntermedio {
    width: 70rem;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 1rem 1rem;
    text-transform: uppercase;
    color: #e9e9e9c2;
    font-size: .9rem;

}

nav a:hover {
    border-bottom: 1px solid grey;
    color: gray;
    /* border-width: 1; */
}

nav.navContainerMobile {
    display: none;
}


div.icon {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.dropDown {
    position: absolute;
    right: 24rem;
    top: 1rem;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #e3e3e3;
}


div.dropDown a {
    text-transform: uppercase;
    color: #e9e9e9c2;
    font-size: .9rem
}


.navWeb {
    display: flex;
    justify-content: space-between;
    width: 97vw;
}

p.cartLength {
    text-align: center;
    pad: 0 -0.5rem;
    border-radius: 50px;
    background-color: green;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    header.headerContainer {
        justify-content: space-between;
    }

    header.headerContainer h1 {
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .navContainerMobile {
        height: 20rem;
        width: 20rem;
    }

    .navIntermedio,
    nav.navWeb {
        display: none;
    }

    nav.navContainerMobile {
        display: flex;
        min-height: 15rem;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        z-index: 1;
        right: 0.2rem;
        top: 4rem
    }

    div.item {
        display: flex;
        align-items: center;
    }

    div.icon {
        height: 2rem;
        width: 2rem;
        background-position: center;
        background-size: 1.3rem;
        background-color: #f3f3f3dc;
        border-radius: 50rem;
        background-repeat: no-repeat;
    }

    .navContainerMobile a {
        width: 11rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .navContainerMobile a span {
        position: absolute;
        padding: 1rem 3rem;
        font-size: 0.7rem;
    }

    div.dropDown p {
        font-size: 0.7rem;
    }

    .navContainerMobile a {
        padding: 0.3rem;
    }

    .navContainerMobile a span:hover {
        opacity: 1;
    }

    div.menu {
        width: 3rem;
        height: 3rem;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        right: 0.3rem;
    }

    div.dropDown {
        position: absolute;
        right: 2.5rem;
        top: 9rem;
        width: 11rem;
        height: 3rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .navIntermedio {
        width: 40rem;
    }
}