header.headerContainer {
    padding: 1rem 1rem;
    display: flex;
}

.navIntermedio {
    width: 81rem;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 1rem 1rem;
    text-transform: uppercase;
    color: #e9e9e9c2;
    font-size: .9rem;

}

nav a:hover {
    color: #ffffff;
}

nav.navContainerMobile {
    display: none;
}


div.icon {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.dropDown {
    position: absolute;
    /* right: -130rem; */
    top: 1rem;
    right: 10rem;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #e3e3e3;
}


div.dropDown a {
    text-transform: uppercase;
    color: #e9e9e9c2;
    font-size: .9rem
}


.navWeb {
    display: flex;
    justify-content: space-between;
    width: 96vw;
}

p.cartLength {
    text-align: center;
    pad: 0 -0.5rem;
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
    background-color: #cdcdcd;
    padding: .1rem;
    color: #424242c7;
    margin-left: 2rem;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    header.headerContainer {
        justify-content: space-between;
    }

    header.headerContainer h1 {
        font-size: 2.5rem;
        margin-left: 1rem;
    }

    .navContainerMobile {
        height: 20rem;
        width: 20rem;
    }

    .navIntermedio,
    nav.navWeb {
        display: none;
    }

    nav.navContainerMobile {
        display: flex;
        width: 10rem;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        height: 14rem;
        left: 14.5rem;
        -webkit-backdrop-filter: blur(1.5px);
        backdrop-filter: blur(23.5px);
        z-index: 2;
        right: 0.2rem;
        top: 4rem;
    }

    div.item {
        display: flex;
        align-items: center;
    }

    div.icon,
    div.dropDown div.icon {
        height: 2rem;
        width: 2rem;
        background-position: center;
        background-size: 1.3rem;
        background-color: #f3f3f3dc;
        border-radius: 50rem;
        background-repeat: no-repeat;
    }

    .navContainerMobile a {
        width: 11rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .navContainerMobile a span {
        position: absolute;
        padding: 1rem 2rem;
        font-size: 0.7rem;
        width: 7rem;
    }

    div.dropDown p {
        font-size: 0.7rem;
    }

    .navContainerMobile a {
        padding: 0.3rem;
    }

    .navContainerMobile a span:hover {
        opacity: 1;
    }

    div.menu {
        width: 3rem;
        height: 3rem;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        right: 0.3rem;
    }

    div.dropDown {
        position: absolute;
        right: 1rem;
        top: 9rem;
        /* width: 11rem; */
        flex-direction: row-reverse;
    }

    div.dropDown a {
        padding: 0;
    }

    /* ///// */
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .navIntermedio {
        width: 40rem;
    }
}