header.headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem
}

header.headerContainer h1 {
    font-size: 2.9rem;
}

nav.navContainer {
    display: flex;
    justify-content: space-between;
    width: 35rem;
    align-items: center;
}

span.orange {
    color: #F99D22
}

span.violet {
    color: #7A5EA8
}

div.navIcons {
    display: flex;
    justify-content: space-evenly;
    width: 10rem;

}

div.icon {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

div.dropDown {
    position: absolute;
    right: 11.5rem;
    top: 4.1rem;
    width: 7rem;
    height: 4rem;
    background-color: #cccbca61;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px #75747461;
}

div.dropDown p {
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    header.headerContainer h1 {
        font-size: 2rem;
    }
}