div.container{
    width: 100%;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.boxMethod{
    border: 2px solid rgb(255 255 255);
    width: 20%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.5s all;
}


div .iconCard{
    width: 4rem;
    margin-bottom: 0.8rem;
    height: 4rem;
}
img.iconPayPal{
    width: 10rem;
    margin-bottom: 1rem;
}
.boxMethod:hover{
    transition: 0.5s all;
    border: 2px solid rgb(154 154 154);
    transform: scale(1.1);
}
h3.title{
    margin-top: 1rem;
    font-size: 1.5rem;
}
