main.productsContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*secciones*/
main.productsContainer .sectionDescription {
  border-radius: 1rem;
  box-shadow: 4px 1px 8px #ebebeb;
  background-color: #fff;
  width: 55%;
  height: 15rem;
  display: flex;
  justify-content: space-around;
}

section.sectionDescription>* {
  width: 40%;
  height: 10rem;
  background-color: #F1F6F7;
  padding: 1.5rem 1rem;
  border-radius: .4rem;
}

section.sectionDescription ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

section.sectionDescription li {
  list-style: none;
}

section.sectionDescription p {
  margin-top: 1.3rem;
}

/*productos*/
main.productsContainer .sectionProduct {
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem 0;
}

main.productsContainer .sectionProduct .info {
  display: flex;
  justify-content: space-around;
}

main.productsContainer .sectionProduct .infoPrice {
  display: flex;
  justify-content: flex-end;
}

main.productsContainer .sectionProduct .info p:first-child {
  background-color: #6b6b6b;
}

main.productsContainer .sectionProduct .info p {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: lighter;
  height: 1.2rem;
  margin: 0 0.2rem;
  background-color: #f48f31;
}

main.productsContainer .sectionProduct h3 {
  font-size: 1rem;
  width: 15rem;
  font-weight: lighter;
}

main.productsContainer .sectionProduct .containerProduct {
  min-height: 10rem;
  padding: 1rem;
}

main.productsContainer .sectionProduct .containerProduct .titleIcon {
  display: flex;
  justify-content: space-between;
}

main.productsContainer .sectionProduct .containerImage {
  min-height: 15rem;
  background-color: rgb(255, 248, 248);
  margin: 1rem 0;
  border-radius: 0.5rem;
}

main.productsContainer .sectionProduct .icon {
  height: 2rem;
  width: 2rem;
  background-position: center;
  background-size: cover;
}

main.productsContainer .sectionProduct .modal {
  height: 20rem;
  width: 26rem;
  position: absolute;
  top: 10rem;
  border-radius: 1rem;
  width: 18rem;
  background-color: rgb(255 255 255);
  box-shadow: 12px 0px 100vw 55vw #444343d1;
}

main.productsContainer .sectionProduct .price {
  height: 1.2rem;
  width: 7rem;
  border-radius: 0.8rem;
  background-color: #f48f31;
  color: white;
  text-align: center;
  padding: 0.6rem;
}

main.productsContainer .sectionProduct .infoProduct,
.details {
  margin: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

main.productsContainer .sectionProduct .promotions {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

main.productsContainer .sectionProduct .promotions .promotionsP {
  font-style: italic;
  text-decoration: underline;
}

main.productsContainer .sectionProduct .promotions p {
  width: 13rem;
  margin: 0 0.5rem;
}

main.productsContainer .sectionProduct .orange {
  color: #f48f31;
}

main.productsContainer .sectionProduct .counter {
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.productsContainer .sectionProduct .details {
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

main.productsContainer .sectionProduct .details p {
  padding: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
}

@media only screen and (min-width: 768px) {
  main.productsContainer .sectionProduct .containerImage {
    display: flex;
  }

  main.productsContainer .sectionProduct .infoProduct,
  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  main.productsContainer .sectionProduct .containerProduct .titleIcon {
    justify-content: flex-end;
  }

  main.productsContainer .sectionProduct h3 {
    font-size: 1rem;
    width: 36rem;
  }

  main.productsContainer .sectionProduct .info {
    justify-content: flex-end;
  }

  main.productsContainer .sectionProduct .info p {
    text-align: center;
    padding: 0.2rem;
    width: 8rem;
    border-radius: 0.45rem;
  }
}

@media only screen and (min-width: 1024px) {
  main.productsContainer {
    background-color: #f1f6f7;
    min-height: 100vh;
    margin: 1rem 0;
  }

  main.productsContainer .sectionProduct {
    background-color: #fff;
    min-width: 65rem;
    min-height: 40rem;
  }

  main.productsContainer section {
    height: 30rem;
    border-radius: 1rem;
    display: flex;
    padding: 1rem;
  }

  main.productsContainer section:first-child {
    background-color: #fff;
    min-width: 55rem;
  }

  main.productsContainer .sectionProduct {
    background-color: #fff;
    min-width: 55rem;
  }

  main.productsContainer .sectionProduct .infoProduct,
  .details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    width: 27rem;
  }

  main.productsContainer .sectionProduct .containerImage {
    justify-content: space-around;
  }

  main.productsContainer .sectionProduct .containerProduct .titleIcon {
    justify-content: space-between;
    align-items: center;
  }

  main.productsContainer .sectionProduct h3 {
    font-size: 1.5rem;
  }

  main.productsContainer .sectionProduct .promotions p {
    min-width: 23rem;
    margin: 0 0.5rem;
  }

  main.productsContainer .sectionProduct .details {
    padding: 0rem;
    border: none;
  }

  main.productsContainer .sectionProduct .details p {
    padding: 0.2rem;
    width: 23rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border-bottom: 1px solid #f1f1f1;
  }
}