.productsContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  background-image: url('https://i.postimg.cc/ryjKWhwG/fondo.jpg');
  background-position: center;
  background-size: cover;
}

.containerProduct {
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
}

.containerProduct .title, .containerProduct .photo, .containerProduct .description {
  width:33%;
}

.containerProduct .title, .containerProduct .description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerProduct .title p {
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 6.5rem;
  margin: 1rem 0;
  text-align: center;
  color: white;
}
.containerProduct .title h2 {
  font-size: 4rem;
}

.containerProduct .photo {
  background-position: center;
  background-size: cover;
  background-image: url(https://i.postimg.cc/Jhmptvkj/1000x1000-1-removebg-preview-1.png);
  margin-left: -5rem;
  filter: drop-shadow(-17px 15px 26px rgba(92, 92, 92, 0.55));
}

.containerProduct .cart {
    border: 1px solid #ffffff;
    padding: 1rem;
}

.containerProduct .description {
  justify-content: center;
}
.containerProduct .description>* {
  margin: 1rem 0;
}

.containerProduct .description  span {
  border-bottom: 1px solid rgb(189, 189, 189);
  width: 14.5rem;
  font-style: italic;
}
.containerProduct .description  button {
  cursor: pointer;
  background-color:transparent;
  color: white;
}
.containerProduct .description  button:hover {
  background-color: rgb(143, 143, 143);
  color: white;
}