div.productsSection .loading {
  height: 24rem;
  width: 100%;
  padding: 1rem;
  background-image: url(https://i.postimg.cc/TwZG2QWc/loading.gif);
  background-position: center;
  background-size: 8%;
  background-repeat: no-repeat;
}
.inputFilterContain h2,
.inputSelect h2 {
  color: #e3e3e3;
  font-size: 1rem;
}

.inputSelect {
  margin-right: 2.5rem;
}

.inputsFilter {
color: #e3e3e3;
    border: 1px solid;
    padding: 1.5rem;
    margin-top: 0.5rem;
    width: 9rem;
}

.inputsFilter .switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;
  width: 9rem;
}

.inputsFilter .switchContainer label {
  width: auto !important;
}

.inputsFilter .switchContainer .switch {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2.2rem !important;
  height: 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
  background: #ccc;
  transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
  transition-delay: 0.1s, 0s;
}

.inputsFilter .switchContainer .switch:focus {
  border: 0;
  outline: 0;
}

.inputsFilter .switchContainer .switch:checked {
  transition-delay: 0s, 0s;
  box-shadow: inset 0 0 0 2.62857em gray !important;
  padding-left: .88rem;
}

.inputsFilter .switchContainer .switch:before {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin: 0.1rem;
  margin-left: 0.18rem;
  background-color: #fff;
  border-radius: 2.1rem;
  transition: all 0.1s ease 0.1s;
}

.inputsFilter .switchContainer .switch:before,
.inputsFilter .switchContainer .switch:after {
  content: "";
  display: block;
}

.inputsFilter .switchContainer .switch:before::after {
  transition: all 0.1s ease 0.05s;
}


.selectInput {
  border: none;
  height: 3rem;
  width: 10rem;
  margin: 1rem 0;
}

div.container {
  width: 100%;
  display: flex;
  padding: 3rem 0;
}

.containerProducts .emptyProducts {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.containerProducts .emptyProducts p {
  font-size: 5rem;
}

@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    flex-wrap: wrap;
  }

  .inputFilterContain {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;


  }


  .productsSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .inputSelect {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;

  }


  .selectInput {
    outline: 0;
    height: 3rem;
    width: 20.5rem;
    padding-left: 1rem;
    border: none;
    padding-right: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
  select option {
    color: rgb(0, 0, 0);
  }

}

.pageContent {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 27rem;
  align-items: center;
  justify-content: center;
}
.emptyProducts p {
  color: white;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 600;
    width: 45rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(79px);
    background-color: #ffffff24;
    text-align: center;
}
.emptyProducts {
  width: 146%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url(https://i.postimg.cc/mrCmTyHY/PRODUCTO-removebg-preview.png);
  background-size: 47% 93%;
  background-position: 96%;
  background-repeat: no-repeat;
  filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}
@media (min-width: 600px) {
  .pageContent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .pageContent {
    grid-template-columns: repeat(4, 1fr);
    width: 81rem;
    min-height: 31rem;
  }
}

.card {
  position: relative;
  display: flex;
  height: 25rem;
  width: 15rem;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 80%;
  text-align: center;
  background-size: 77% 53%;
  background-position: center;
  background-image: url(https://i.postimg.cc/Kz4h0KXr/produ.png);
  background-repeat: no-repeat;
  color: whitesmoke;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%);
}

@media (min-width: 600px) {
  .card {
    height: 25rem;
    width: 15rem;
  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}



.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content>*+* {
  margin-top: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
}
.infoPrice {
     width: 13rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.btn {
  cursor: pointer;
  margin-top: 15.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d;
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content>*:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }

  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content>*:not(.title),
  .card:focus-within .content>*:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content>*:not(.title) {
    transition-duration: 0s;
  }
}

@media screen and (max-width: 768px) {
  .inputsFilter2 {
    position: absolute;
    z-index: 2;
    background-color: #fff;
  }

  .inputSelect {
    display: flex;
    justify-content: flex-end;


  }

  .inputsFilter {
    display: none;
  }

  .inputFilterContain {
    margin-left: 1rem;
  }

  .inputsFilter2 {
    color: #545454;
    border: 1px solid;
    padding: 1rem;
    margin-top: 0.9rem;
  }

  .inputsFilter2 .switchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    width: 9rem;
  }

  .inputsFilter2 .switchContainer label {
    width: auto !important;
  }

  .inputsFilter2 .switchContainer .switch {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 2.2rem !important;
    height: 1.25rem;
    border-radius: 2rem;
    cursor: pointer;
    background: #ccc;
    transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
    transition-delay: 0.1s, 0s;
  }

  .inputsFilter2 .switchContainer .switch:focus {
    border: 0;
    outline: 0;
  }

  .inputsFilter2 .switchContainer .switch:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 2.62857em gray !important;
    padding-left: .88rem;
    /*15px*/
  }

  .inputsFilter2 .switchContainer .switch:before {
    display: inline-block;
    height: 1rem;
    /*14px*/
    width: 1rem;
    /*14px*/
    margin: 0.1rem;
    /*3px*/
    margin-left: 0.18rem;
    background-color: #fff;
    border-radius: 2.1rem;
    /*2.1em*/
    transition: all 0.1s ease 0.1s;
  }

  .inputsFilter2 .switchContainer .switch:before,
  .inputsFilter2 .switchContainer .switch:after {
    content: "";
    display: block;
  }

  .inputsFilter2 .switchContainer .switch:before::after {
    transition: all 0.1s ease 0.05s;
  }


}