.container{
    display:flex;
    justify-content: space-around;
}

.cardProduct{
    background-color: red;

}

.containPrice{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.containerProducts{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;

}

.photo{
    width:10rem;
    height:10rem
}
