@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&family=Spartan:wght@400;500&display=swap');

* {
    font-family: 'Spartan', sans-serif;
}

section.sectionContainer {
    min-height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.sectionContainer p {
    font-size: 2rem;
    text-transform: uppercase;
    color: #e3e3e3;
    margin: 1rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.image {
    width: 28rem;
    height: 100%;
    background-color: #a7a6a657;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.galleryItem .image>* {
    height: 15rem;
}

.galleryItem .image div.divImage {
    width: 60%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.galleryItem:hover .image div.divImage {
    transform: scale(1.5);
}

div.description {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.descriptionFirst {
    width: 100%;
}

div.descriptionFirst p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3d3d3d;
    margin: 1rem;
    text-transform: none;
}

.container div.description p {
    font-size: 1rem;
    color: #3d3d3d;
    text-transform: none;
}

div.descriptionContainer {
    width: 70%;
}

div.descriptionRowOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (min-width: 375px) and (max-width: 768px) {

    .image {
        width: 20rem;
        height: 100%;
    }

    .container,
    .galleryItem {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .container div.description p {
        font-size: .7rem;
    }

}