div.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 25%;
    left: 34%;
    display: block;
}

div.none {
    display: none;
}

div.signContainer {
    background-color: #EFEAEA;
    width: 25rem;
    height: 25rem;
    box-shadow: 12px 0px 100vw 55vw #444343d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

div.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
}

div.inputPassContainer {
    display: flex;
    width: 16rem;
}

input.input {
    outline:none;
    width: 100%;
    background-color:transparent;
    margin: 1.5rem 0rem ;
    border-width: 0 0 4px 0;
    border-image: linear-gradient(to right, rgba(248,4,156,1), rgba(253,213,79,1)) 1;
}

input.inputPass {
    outline:none;
    width: 100%;
    background-color:transparent;
    margin: 1.5rem 0rem ;
    border-width: 0 0 4px 0;
    border-image: linear-gradient(to right, rgba(248,4,156,1), rgba(253,213,79,1)) 1;
}

img.imgForPass {
    height: 0.6rem;
    cursor: pointer;
    background: transparent;
    align-self: center;
}

div.textSign{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin:1rem 0rem
}

button.buttonSign {
    border: none;
	background-color:#7A5EA8;
	border-radius:2em;
    outline: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	padding:0.5rem 1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #7A5EA8;
}

div.buttonGoogle {
    margin-top: 0.7rem;
}

div.buttonGoogle button {
    margin-top: 0%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 8rem!important;
    background-color:#7A5EA8!important;
	border-radius:2em!important;
    outline: none!important;
	color:#ffffff!important;
	font-size:1rem!important;
	padding:0.5rem 1rem!important;
	text-decoration:none!important;
    height: 2rem!important;
}

div.buttonGoogle button div {
    background-color: transparent!important;
    width: 0.5rem!important;
    height: 1rem!important;
    
}

img.icono {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    align-self: flex-start;
}

