.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.containerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    margin: 2rem 0rem
}

.containerForm h1 {
    background-color: rgb(248, 248, 240);
    padding: 1rem 0rem;
    color: rgba(48, 106, 154, 1)
}

.containerForm h1,
.containerForm .location {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.containerForm .error {
    background-color: #e8e8e8;
    color: #f10000;
    width: 95%;
    padding: 0.3rem;
}

.containerForm .errorPlaceholder {
    height: .9rem;
    margin-bottom: .3rem;
}

div.containerForm .pPhoto {
    height: 2rem;
}

div.textSign {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0rem
}

.btnSign {
    background-color: transparent;
    outline: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-top: 1rem 0rem;
    margin-left: 5rem;
    width: 65%;
    border: none;
    border: 1px solid white;
    margin-top: 2rem;
}

.btnSign:hover {
    background-color: #fff;
    color: #000000;
}

.inputTypes {
    outline: none;
    background-color: transparent;
    margin-top: .9rem;
    border-width: 0 0 3px 0;
    width: 32rem;
    border-bottom: 1px solid white;
    color: white;
}

.inputTypes::placeholder {
    color: white
}

.location {
    flex-direction: column !important;

    height: 10rem;
}

.location button {
    margin: 1rem 1rem;

}

.link {
    text-decoration: none;
    margin: 0rem 1rem;
    color: white
}

.containerCarousel {
    width: 40rem;
    height: 35rem;
    background-image: url(https://i.postimg.cc/VLZbw28G/Alienware-UFO-concept-tablet-removebg-preview.png);
    /* border: 1px solid; */
    background-repeat: no-repeat;
    background-size: 107%;
    background-position: center;
    /* filter: drop-shadow(-17px 15px 26px rgba(92, 92, 92, 0.55)); */
    filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}

.containerCarousel .image {
    filter: drop-shadow(-17px 15px 26px rgba(92, 92, 92, 0.55));
    width: 10rem;
    height: 10rem;
}

.containerCarousel h2 {
    margin-bottom: 11rem
}

div.inputPassContainer {
    display: flex;
    width: 100%;
}

div.inputPassContainer {
    display: flex;
    width: 100%;
}

img.imgForPass {
    height: 0.6rem;
    cursor: pointer;
    background: transparent;
    align-self: center;
}

input.inputPhoto {
    display: none;
}

.labelInput .photo {
    width: 11rem;
    height: 3rem;
    text-align: end;
}

label.labelInput {
    cursor: pointer;
    padding: 1rem;
    width: 42rem;
    background-image: url(https://i.postimg.cc/Gm67RbYj/Dise-o-sin-t-tulo-80.png);
    background-size: 63%;
    background-repeat: no-repeat;
}

div.buttonGoogle button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 20rem !important;
    background-color: rgba(233, 230, 230, 0.1) !important;
    outline: none !important;
    color: #ffffff !important;
    font-size: 1rem !important;
    padding: 1.45rem 0rem !important;
    text-decoration: none !important;
    height: 2rem !important;
    border: none !important;
}

div.buttonGoogle button div {
    background-color: transparent !important
}


@media only screen and (min-width: 375px) {
    .inputTypes {
        width: 20rem;
    }

    .containerCarousel h2 {
        margin: 1rem 0rem;
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 425px) {
    .inputTypes {
        width: 20rem;
        font-size: 1rem
    }
}

@media only screen and (max-width: 425px) {
    .containerCarousel img {
        display: none
    }
}

@media only screen and (min-width: 576px) {}


@media only screen and (min-width: 768px) {
    .inputTypes {
        width: 30rem;
        font-size: 1rem;
        height: 2.3rem;
    }

    .containerCarousel h2 {
        margin-bottom: 1rem
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1440px) {}