table.tableTotal{
    width: 80%;
    color: white;
    text-align: center;
}

table.tableTotal th{
    text-align: center;
    margin: 1rem;
    border-bottom: 1px solid #ffffff36;
}
.tableTotal td .td {
    border-top: 1px solid #ffffff36;
    margin: 1rem;
    padding: 1rem;
}
img.imgProduct{
    width: 6.5rem;
}