div.divContainer {
    align-items: end;
    display: flex;
    justify-content: space-around;
    color: white;
    justify-content: center;
    padding: 4rem 0;
}

div.none {
    display: none;
}

div.divImage {
    width: 60%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.navegator {
    text-align: center;
    margin-right: 2.5rem;
}

h2.title {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #e3e3e3;
}

div.photoShop {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30rem;
    height: 30rem;
    margin-right: 5rem;
    filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}

div.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 77rem;
    padding: 1.5rem 0;
    /* border: 1px solid white; */
    margin: 1.2rem;
    background-color: rgb(6 40 82 / 36%);
}
div.container h3 {
    font-size: .8rem;
}
div.container p {
    margin-bottom: 1rem;
    padding: 1rem 0;
}
div.productsContainer {
    margin-top: 2rem;
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d3d3d3;
    height: 29rem;
    justify-content: center;
    overflow-x: hidden;
}