div.divContainer {
    align-items: end;
    display: flex;
    justify-content: space-around;
    color: white;
    justify-content: center;
    padding: 4rem 0;
}

div.none {
    display: none;
}

div.divImage {
    width: 60%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.navegator {
    border: 1px solid white!;
    text-align: center;
}

h2.title {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #e3e3e3;
}

div.photoShop {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30rem;
    height: 30rem;
    margin-right: 5rem;
    filter: drop-shadow(-37px 45px 7px rgba(0, 0, 0, 0.79));
}

div.container{
    background-color: #e3e3e33f;
    /* margin-bottom: 0.7rem; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    width: 62rem;
    padding: 1.5rem 0;
    margin: 1.2rem;
}
div.container h3 {
    font-size: .8rem;
}
div.container p {
    margin-bottom: 1rem;
    padding: 1rem 0;
}
div.productsContainer {
    margin-top: 2rem;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}