* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(47, 144, 176);
  background: radial-gradient(circle, rgba(47, 144, 176, 1) 0%, rgba(48, 106, 154, 1) 55%, rgba(49, 75, 136, 1) 73%, rgba(49, 25, 109, 1) 100%);
}

a {
  text-decoration: none;
  color: #545454;
}

::-webkit-scrollbar-track {
  background: rgb(48 106 154)
  /* box-shadow: 1px 1px 10px #7a5ea8bd; */
}

::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51)
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 4vw;
  }

  ::-webkit-scrollbar {
    width: 0.2rem;
  }

}


@media only screen and (min-width: 425px) {
  html {
    font-size: 4vw;
  }
}


@media only screen and (min-width: 576px) {}


@media only screen and (min-width: 768px) {
  html {
    font-size: 2vw;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1vw;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
}

@media only screen and (min-width: 1440px) {}

/* #7A5EA8

*/