* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(47, 144, 176);
  background: radial-gradient(circle, rgba(47, 144, 176, 1) 0%, rgba(48, 106, 154, 1) 55%, rgba(49, 75, 136, 1) 73%, rgba(49, 25, 109, 1) 100%);
}

a {
  text-decoration: none;
  color: #545454;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: .2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7A5EA8;
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 4vw;
  }

  ::-webkit-scrollbar {
    width: 0.2rem;
  }

}


@media only screen and (min-width: 425px) {
  html {
    font-size: 4vw;
  }
}


@media only screen and (min-width: 576px) {}


@media only screen and (min-width: 768px) {
  html {
    font-size: 2vw;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1vw;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
  }
}

@media only screen and (min-width: 1440px) {}

/* #7A5EA8

*/